[submodule "deps/pico-sdk"]
	path = deps/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "deps/pico-extras"]
	path = deps/pico-extras
	url = https://github.com/nicholas-karr/pico-extras.git
